.project {
  .image {
    width: 100%;
  }

  .project-info {
    .project-title {
      margin-bottom: 8px;
      margin-top: 20px;
    }
    .project-languages {
      display: flex;
      gap: 16px;
      margin-bottom: 20px;
    }

    .project-links {
      display: flex;
      gap: 32px;
      .project-link {
        .button {
          max-width: none;
        }
      }
    }
  }
}