.color-white {
  color: var(--color-white);
}

.color-cyan-300 {
  color: var(--color-cyan-300);
}

.color-cyan-600 {
  color: var(--color-cyan-600);
}

.color-purple {
  color: var(--color-purple-300);
}

.color-slate-300 {
  color: var(--color-slate-300);
}

.color-slate-600 {
  color: var(--color-slate-600);
}

.color-slate-900 {
  color: var(--color-slate-900);
}

.text-preset-1 {
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 4px;
}

.text-preset-4 {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .text-preset-1 {
    font-size: 48px;
  }

  .text-preset-2 {
    font-size: 36px;
  }

  .text-preset-3 {
    font-size: 14px;
  }

  .text-preset-4 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .text-preset-1 {
    font-size: 64px;
  }

  .text-preset-2 {
    font-size: 40px;
  }

  .text-preset-3 {
    font-size: 16px;
  }

  .text-preset-4 {
    font-size: 18px;
  }
}